################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IOC_autofac/v15
/IOC_autofac/obj/Debug
